<form [formGroup]="settingsForm">
  <div class="me">
    <label for="name">Автор</label>
    <input
      id="name"
      type="text"
      placeholder="Имя или должность"
      formControlName="author"
    />
  </div>
  <div class="options">
    @for( option of optionList; track $index){
    <div class="option">
      <label [for]="option">
        {{ option }}
        <input type="checkbox" [id]="option" [formControlName]="option" />
        <span class="view"></span>
      </label>
    </div>
    }
  </div>
  <legend>Только</legend>
  <div class="filters">
    @for(filter of filterList; track $index) {
    <div class="filter">
      <label [for]="filter">
        {{ filter }}
        <input type="checkbox" [id]="filter" [formControlName]="filter" />
        <span class="view"></span>
      </label>
    </div>
    }
  </div>
</form>
