<div class="wrapper">
  @for(content of contents; track content.path){
  <div class="item">
    <img class="icon" [src]="content.path" alt="icon" />
    <span class="text">{{ content.text }}</span>
  </div>
  }
  <button class="button--search" (click)="changeIsOpen()">
    <img src="./icons/search.png" alt="visits" />
  </button>
  <button class="button--history">
    <img src="./icons/history.png" alt="history" />
  </button>
  <div class="search__block" *ngIf="isOpenInput">
    <input
      type="text"
      placeholder="Поисковый запрос"
      (click)="showTab()"
      [(ngModel)]="search"
      (input)="getSearchString()"
      class="open"
    />
    @if(isVisible){
    <app-tab></app-tab>
    }
  </div>
  <img src="./icons/add2.png" alt="visits" class="add" />
</div>
