@import "./../../styles.scss";

@keyframes openSearch {
  0% {
    width: 0%;
    margin-left: 100%;
  }

  100% {
    width: 100%;
    margin-left: 0%;
  }
}

@keyframes closeSearch {
  0% {
    width: 100%;
    margin-left: 0%;
  }

  30% {
    opacity: 1;
  }

  100% {
    width: 0%;
    opacity: 0;
    margin-left: 100%;
  }
}

:host {
  display: flex;
  width: clamp(800px, 53%, 1000px);
  align-items: center;
  justify-content: space-between;
  margin-right: 25%;
  .wrapper {
    position: relative;
    margin: 0 0 0 7%;
    display: flex;
    width: clamp(600px, 90%, 1000px);
    .item {
      display: flex;
      align-items: center;
      gap: 12%;
      margin: 0 5.3% 0 0;
      .icon {
        width: 1.4em;
      }
      span {
        color: $primary-white;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.035px;
      }
    }
    .button--search {
      margin: 0 3.5% 0 5%;
      border: none;
      background-color: transparent;
      &:hover {
        cursor: pointer;
      }
    }
    .button--history {
      display: none;
    }
    .add {
      width: 1.5em;
      height: 1.5em;
      margin: 1% 0;
    }
  }
  .search__block {
    position: absolute;
    top: -13%;
    left: -5%;
    display: flex;
    flex-direction: column;
    width: clamp(600px, 95%, 900px);
    height: 3em;
    input {
      padding: 0.1% 2%;
      width: 100%;
      height: 3em;
      border: 1px solid transparent;
      border-radius: 3px;
      color: $text-grey;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.3px;
      &:focus-visible {
        outline: 1px solid transparent;
      }
    }
  }
  .open {
    animation: openSearch 1s;
  }

  .close {
    animation: closeSearch 1s;
  }
}

@media screen and (930px >= width >620px) {
  :host {
    width: clamp(500px, 85%, 900px);
    margin-right: 5%;
    .wrapper {
      flex-wrap: wrap;
      justify-content: center;
      .item {
        gap: 8%;
        margin: 0 3.3% 0 0;
      }
      .button--search {
        margin: 0 1.5% 0 2%;
        border: none;
        background-color: transparent;
      }
      .add {
        width: 1.5em;
        height: 1.5em;
        margin: 1% 0;
      }
    }
    .search__block {
      top: 5%;
      left: -5%;
      width: clamp(550px, 100%, 900px);
    }
  }
}

@media screen and (620px >= width >= 414px) {
  :host {
    width: 46%;
    margin: 0;
    .wrapper {
      margin: 0;
      width: 100%;
      flex-direction: row-reverse;
      .item {
        display: none;
      }
      .button--search {
        margin: 0 1.5% 0 0%;
      }
      .button--history {
        display: block;
        width: 3em;
        margin: 0 3.5% 0 8%;
        border: none;
        background-color: transparent;
      }
      .add {
        width: 1.5em;
        height: 1.5em;
        margin: 1% 0;
      }
    }
    .search__block {
      top: -35%;
      left: -98%;
      width: 19em;
    }
  }
  .open {
    animation: openSearch 1s;
  }

  .close {
    animation: closeSearch 1s;
  }
}
