@import "./../../styles.scss";

:host {
  display: flex;
  width: 53%;
  align-items: center;
  justify-content: space-between;
  margin-right: 25%;
  .wrapper {
    position: relative;
    margin: 0 0 0 5%;
    display: flex;
    width: 95%;
    .item {
      display: flex;
      align-items: center;
      gap: 12%;
      margin: 0 5.3% 0 0;
      .icon {
        width: 1.4em;
      }
      span {
        color: $primary-white;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.035px;
      }
    }
    .button--search {
      margin: 0 3.5% 0 5%;
      border: none;
      background-color: transparent;
    }
    .add {
      width: 1.5em;
      height: 1.5em;
      margin: 1% 0;
    }
  }
  .search__block {
    position: absolute;
    top: -13%;
    left: -5%;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 3em;
    input {
      padding: 0.1% 2%;
      width: 100%;
      height: 3em;
      border: 1px solid transparent;
      border-radius: 3px;
      color: $text-grey;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.3px;
      &:focus-visible {
        outline: 1px solid transparent;
      }
    }
  }
}

@keyframes openSearch {
  0% {
    width: 0%;
    margin-left: 100%;
  }

  100% {
    width: 100%;
    margin-left: 0%;
  }
}

@keyframes closeSearch {
  0% {
    width: 100%;
    margin-left: 0%;
  }

  30% {
    opacity: 1;
  }

  100% {
    width: 0%;
    opacity: 0;
    margin-left: 100%;
  }
}

.open {
  animation: openSearch 1s;
}

.close {
  animation: closeSearch 1s;
}
