@import "./../../styles.scss";

:host {
  position: absolute;
  width: 43.7em;
  height: 14em;
  top: 105%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: $primary-white;
  filter: drop-shadow(0 0.2em 0.2em $text-dark-grey);
}

@media screen and (930px >= width >620px) {
  :host {
    width: clamp(550px, 100%, 900px);
  }
}
@media screen and (600px >= width >= 414px) {
  :host {
    width: 100vw;
    height: clamp(450px, 100vh, 1400px);
    top: 110%;
    left: -17%;
  }
}
