$primary-blue: #1074cc;
$primary-red: #cc1910;
$primary-white: #ffffff;
$text-black: #2a3033;
$text-dark-grey: #7f878c;
$text-grey: #9aa1a6;
$text-light-grey: #e1e4e6;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
