@import "./../../styles.scss";

:host {
  position: relative;
  width: 17%;
  display: flex;
  align-items: flex-end;
  margin: 0 23% 0 0;
  .count {
    position: absolute;
    left: 35%;
    bottom: 58%;
    width: 16px;
    padding: 2px;
    text-align: center;
    background-color: $primary-red;
    color: $primary-white;
    border: 1px solid $primary-blue;
    border-radius: 100px;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.011px;
  }
  .icon {
    width: 25px;
    height: 24px;
  }
}

@media screen and (max-width: 550px) and (min-width: 414px) {
  :host {
    width: 88%;
    margin: 0 0% 0 0;
  }
}
